@use "../header";

.view-nav {
  display: flex;
  height: 2rem;
  overflow: hidden;

  >:where(ul, ol) {
    flex-grow: 1;
    // grid-column: 1;
    // max-width: calc(100% - 5rem);

    z-index: -1;
    display: grid;
    grid-auto-flow: column;
    overflow: auto;
  }

  .view-nav__more {
    text-align: center;
    min-width: 4em;
    grid-column-start: -1;
  }

  .view-nav__collapse {
    border: 0;
    display: none;
    grid-column: 1;

    z-index: -2;
    position: fixed;

    // outline: 2px solid limegreen;
    // outline-offset: -5px;
  }

  &:target {
    display: grid;
    grid-template-rows: header.$height auto 1fr;
    position: fixed;
    height: auto;
    overflow: visible;

    // outline: 2px solid olive;
    // outline-offset: -8px;

    /** expand the nav list */
    >:where(ul, ol) {
      grid-auto-flow: row;
      justify-content: space-evenly;
      grid-template-columns: repeat(auto-fit, minmax(auto, 8em));

      // animation: nav-down 0.5s  delay iteration-count direction fill-mode;
      animation: slideDown 0.5s ease-in;

      .view-link {
        white-space: pre-wrap;
      }
    }

    @keyframes slideDown {
      from {
        transform: translateY(-100%);
      }

      to {
        transform: translateY(0%);
      }
    }

    .view-nav__more {
      display: none;
    }

    .view-nav__collapse {
      display: block;
      // flex-grow: 1;
      height: 100vh;
      width: 100%;


      animation: fadeIn 0.5s ease-in;
      background-color: hsla(var(--surface1-hsl), 0.6);
    }


    @keyframes fadeIn {
      from {
        background-color: transparent;
      }

      to {
        background-color: hsla(var(--surface1-hsl), 0.6);
      }
    }

  }
}

.view-nav {
  >:not(.view-nav__collapse) {
    background: var(--surface1);
  }
}

.view-nav {
  &> :where(ul, ol) {
    list-style: none;
    margin: 0;
    padding: 0 0.2em;
    gap: 0.2em;
  }

  &--horizontal>:where(ul, ol) {
    flex-direction: row;
  }

  .view-link {
    display: inline-block;
    white-space: nowrap;
    padding: 0.2em 0.5em;
  }
}