.color-examples {
  display: grid;
  // grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, minmax(auto, 8em));
  justify-content: space-evenly;

  // display: flex;
  // flex-wrap: wrap;

  // align-items: center;
  padding: 0.5em;
  gap: 0.5em;
}

.color-examples>* {
  &::before {
    content: ' ';
    float: left;
    padding-top: 100%;
  }

  &::after {
    content: attr(class);
    float: right;
    width: 100%;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  // min-width: max-content;

  flex: 1;

  border: 1px solid var(--surface4);
  border-radius: 50%;
}

.brand {
  background: var(--brand);
}

.text-1 {
  background: var(--text1);
  color: var(--text2);
}

.text-2 {
  background: var(--text2);
}

.surface-1 {
  background: var(--surface1);
}

.surface-2 {
  background: var(--surface2);
}

.surface-3 {
  background: var(--surface3);
}

.surface-4 {
  background: var(--surface4);
}

.surface-shadow {
  background: h#{s}l(var(--surface-shadow));
}

.shadow-strength {
  background: h#{s}l(var(--surface-shadow), var(--shadow-strength));
}