.wheel-box {
  width: 50vw;
  height: 50vh;
  border: 1px dotted gray;
  position: absolute;
  top: 25vh;
  left: 25vw;
  overflow: scroll;
  // touch-action: none;
}

.wheel-content {
  width: 100vw;
  height: 500vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -25%;
  left: -25%;
}

.smile {
  display: inline-block;
  position: sticky;
  top: calc(50% - 1em/2);
  left: calc(50% - 1em/2);
  font-size: 5rem;
  transition: transform 0.5s linear;
  line-height: 1em;
}

.smile-control {
  overflow: visible;
  position: absolute;
  top: 75vh;
  left: 25vw;
  width: 50vw;
}

.smile-scale {
  width: 50vw;
}

.smile-rotate {
  width: 50vh;
  position: absolute;
  left: 5em;
  bottom: calc(25vh + 1em);
  transform: rotateZ(90deg);
}