.wheel-box {
  width: 50%;
  height: 50%;
  border: 1px dotted gray;
  position: absolute;
  top: 25%;
  left: 25%;
  overflow: scroll;
  // touch-action: none;
}

.wheel-content {
  width: 100vw;
  height: 500vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -25%;
  left: -25%;
}

.smile {
  display: inline-block;
  position: sticky;
  top: calc(50% - 1em/2);
  left: calc(50% - 1em/2);
  font-size: 5rem;
  transition: transform 1s linear;
  line-height: 1em;
}