.ptr__layout {
  height: 100%;
  display: flex;
  flex-direction: column;

  background-color: cornsilk;

  &>section {
    flex: auto 1 1;
  }

  &>header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: thistle;
    animation: 1s fadeInUp ease-out forwards;
    opacity: 0;
    transform: translateY(3rem);
  }

  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}


.ptr__content {
  background-color: lightblue;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: auto;
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  .ptr__layout {
    background-color: #666;
  }

  .ptr__content {
    background-color: teal;
  }
}