.touch-ptr__layout {
  height: 100%;
  display: flex;
  flex-direction: column;

  &>section {
    flex: auto 1 1;
  }
}

.touch-ptr {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;

  &__touch-zone {
    border: 1px solid gray;
    flex-grow: 1;
    overflow: auto;
  }

  &__content {
    height: 150%;
    display: flex;
    align-items: center;
  }
}