#root {
  display: grid;
  grid-template-rows: max-content minmax(0, 1fr);

  &>header {
    background: h#{s}l(40, 13%, 18%);
    position: sticky;
    top: 0;
  }

  &>* {
    z-index: 0;
  }

  &>main {
    position: relative;
  }
}

.view-root {
  min-height: 100%;
  background-color: hsl(140, 90%, 90%);
}