@use './components/header';

@mixin responsiveHeader($height) {
  #root {
    margin-top: $height;
  }

  header>nav {
    height: $height;
  }

  // #root {
  // height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom) - #{$height});
  // outline: 2px solid red;
  // outline-offset: -5px;
  // }

  /* ios safari detect */
  @supports (-webkit-touch-callout: none) {
    #root {
      position: fixed;
      top: 0;
      bottom: stretch;
      // height: calc(stretch - $height);  // stretch in calc can't be compiled

      &>header {
        transform: translateY(-$height);
      }
    }

  }
}

#root {
  min-width: 22.5rem;
}

@include responsiveHeader(header.$height);
// @include responsiveHeader(header.$height-xs);

// @media screen and (max-width: header.$width-l) {
//   @include responsiveHeader(header.$height-s);
// }

// @media screen and (max-width: header.$width-m) {
//   @include responsiveHeader(header.$height-m);
// }

// @media screen and (max-width: header.$width-s) {
//   @include responsiveHeader(header.$height-l);
// }

#root {
  position: relative;
  display: grid;
  grid-template-rows: max-content minmax(0, 1fr);

  &>header {
    z-index: 1;

    >nav {
      color: var(--text1);
      position: fixed;
      top: 0;
      width: 100%;
    }
  }

  &>* {
    z-index: 0;
  }

}

.view-root {
  min-height: 100%;
}